html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

ul {
	padding: 0;

	li {
		list-style-type: none;
	}
}

.main-content {
	padding: 30px 1em;
	background: bisque;
	position: relative;
	height: 100%;
	overflow: auto;

	.main-title {
		font-size: 23px;
		color: darkslategrey;
	}

	.form-section {
		label {
			display: block;
			margin-bottom: 10px;
			font-size: 18px;

			&.error, &.custom-error {
				color: red;
				font-size: 16px;
				margin-top: 5px;
			}

			.optional-field {
				font-size: 16px;
    			font-style: italic;
			}
		}

		input {
			
			&.error {
				border-color: red;
			}
		}
		.text-input {
			border-radius: 5px;
			border: 1px solid #ccc;
			height: 40px;
			width: 100%;
			font-size: 17px;
			padding: 0 20px;
			color: #555;
			-moz-box-sizing: border-box; 
		    -webkit-box-sizing: border-box; 
		    box-sizing: border-box;
		}

		.form-row {
			margin-bottom: 20px;
		}

		.submit {
			width: 100%;
	    	height: 40px;
	    	font-size: 23px;
	    	font-weight: bold;
	    	border-radius: 5px;
	    	border: 1px solid #ccc;
	    	-webkit-user-select: none;  
			-moz-user-select: none;    
			-ms-user-select: none;      
			user-select: none;
			background: #16994C;
			cursor: pointer;

			&:focus {
				background: #3CB770;
			}

			&:hover {
				background: #1CCF67;
			}
		}

		.progressBarContainer {
			width: 76%;
		    position: absolute;
		    top: 21px;
		    right: 1em;

			.progress-bar {
				height: 0.4em;

				.ui-widget-header {
				    background: #16994C;
				}
			}

			.progress {
				margin: 5px 0;
			}
		}
	}

	#event-creation {

		.guest-input {
			width: 85%;
			display: block;
			float: left;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			margin-bottom: 5px;
		}

		.guest-add-button {
			width: 15%;
			display: block;
			height: 40px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			border: 1px solid #ccc;
			background: #16994C;
			cursor: pointer;
			-webkit-user-select: none;  
			-moz-user-select: none;    
			-ms-user-select: none;      
			user-select: none;
    		font-weight: bold;


			&:focus {
				background: #3CB770;
			}

			&:hover {
				background: #1CCF67;
			}
		}

		.guest-list {
			color: #16994C;

			.remove-guest {
				width: 20px;
				height: 20px;
				background: url('../../images/close.png') center center no-repeat;
				display: inline-block;
				margin-bottom: 4px;
			}

			.guest {
				margin: 0 10px 10px 0;
	    		display: inline-block;
			}
		}


	}

	#events-display {

		.accordion {

			.accordion-item {
			    margin-bottom: 10px;
			}
			
			.title {
				font-size: 18px;
			    margin: 0;
			    background: #16994C;
			    color: #fff;
			    padding: 10px;
			    cursor: pointer;
			}

			.content {
				display: none;
				padding: 10px;
				background-color: burlywood;

				&.active {
					display: block;
				}

				.field-row {

					.label, .value {
						margin: 0;
						padding-bottom: 10px;
					}

					.label {
						color: darkslategrey;
						font-size: 16px;
						font-weight: bold;
						width: 200px;
					}

					.value {
						font-size: 14px;
					}
				}
			}
		}
	}
}

.header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    padding: 10px 1em;
    height: 35px;
    background: black;

	.container {

		.hamburger {
		  position: relative;
		  padding-left: 1.25em;
		  font-size: 30px;
		}

		.hamburger:before {
		  content: "";
		  position: absolute;
		  top: -3px;
		  left: 0;
		  width: 1em;
		  height: 0.125em;
		  border-top: 0.375em double #fff;
		  border-bottom: 0.125em solid #fff;
		}

		.nav-menu {
			margin: 0;
		    color: #fff;
		    padding: 10px;
		    background: black;
		    position: absolute;
		    width: 100%;
		    min-height: 130px;
		    box-sizing: border-box;
		    z-index: 1;
		    top: 35px;
		    left:0;

		    li {
		    	padding: 10px;
		    	cursor: pointer;
		    }

	    	&.no-mobile {
		    	display: none;
		    }
		}
		.progress-bar {
		    height: 0.4em;
		    width: 75%;
		    position: absolute;
		    right: 1em;

		    .ui-widget-header {
				background: #16994C;
		    }
		}
	}
}
