html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

ul {
	padding: 0;

	li {
		list-style-type: none;
	}
}

.main-content {
	padding: 1em;
	background: bisque;
	position: relative;
	height: 100%;
	overflow: auto;

	.main-title {
		font-size: 23px;
		color: darkslategrey;
	}

	.form-section {
		label {
			display: block;
			margin-bottom: 10px;
			font-size: 18px;

			&.error, &.custom-error {
				color: red;
				font-size: 16px;
				margin-top: 5px;
			}

			.optional-field {
				font-size: 16px;
    			font-style: italic;
			}
		}

		input {
			
			&.error {
				border-color: red;
			}
		}
		.text-input {
			border-radius: 5px;
			border: 1px solid #ccc;
			height: 40px;
			width: 100%;
			font-size: 17px;
			padding: 0 20px;
			color: #555;
			-moz-box-sizing: border-box; 
		    -webkit-box-sizing: border-box; 
		    box-sizing: border-box;
		}

		.form-row {
			margin-bottom: 20px;
		}

		.submit {
			width: 100%;
	    	height: 40px;
	    	font-size: 23px;
	    	border-radius: 5px;
	    	border: 1px solid #ccc;
	    	-webkit-user-select: none;  
			-moz-user-select: none;    
			-ms-user-select: none;      
			user-select: none;
			background: darkturquoise;

			&:focus {
				background: #ddd;
			}

			&:hover {
				background: #cecece;
			}
		}

		.progressBarContainer {
			width: 76%;
		    position: absolute;
		    top: 21px;
		    right: 1em;

			.progress-bar {
				height: 0.4em;

				.ui-widget-header {
				    background: darkturquoise;
				}
			}

			.progress {
				margin: 5px 0;
			}
		}
	}

	#event-creation {

		.guest-input {
			width: 85%;
			display: block;
			float: left;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}

		.guest-add-button {
			width: 15%;
			display: block;
			height: 40px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			border: 1px solid #ccc;
			background: darkturquoise;
		}
	}

	#events-display {

		.accordion {

			.accordion-item {
			    margin-bottom: 10px;
			}
			
			.title {
				font-size: 18px;
			    margin: 0;
			    background: brown;
			    color: #fff;
			    padding: 10px;
			}

			.content {
				display: none;
				padding: 10px;
				background-color: burlywood;

				&.active {
					display: block;
				}

				.field-row {

					.label, .value {
						margin: 0;
						padding-bottom: 10px;
					}

					.label {
						color: darkslategrey;
						font-size: 16px;
						font-weight: bold;
						width: 200px;
					}

					.value {
						font-size: 14px;
					}
				}
			}
		}
	}

	.header {

		.container {
			position: relative;

			.hamburger {
		    	background: none;
			    top: 0;
			    line-height: 15px;
			    border: 0;
			    font-size: 1.4em;
			    font-weight: bold;
			    cursor: pointer;
			    outline: none;
			    z-index: 10000000000000;
			}

			.nav-menu {
				margin: 0;
			    color: #fff;
			    padding: 10px;
			    background: black;
			    position: absolute;
			    width: 100%;
			    min-height: 130px;
			    box-sizing: border-box;
			    z-index: 1;

			    li {
			    	padding: 10px;
			    }

		    	&.no-mobile {
			    	display: none;
			    }
			}
		}
	}
}
