body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

ul {
	padding: 0;

	li {
		list-style-type: none;
	}
}

.main-content {
	padding: 0 1em;

	.main-title {
		font-size: 23px;
		color: gray;
	}

	.form-section {
		label {
			display: inline-block;
			margin-bottom: 10px;
			font-size: 18px;

			&.error, &.custom-error {
				color: red;
				font-size: 16px;
				margin-top: 5px;
			}
		}

		input {
			
			&.error {
				border-color: red;
			}
		}
		.text-input {
			border-radius: 5px;
			border: 1px solid #ccc;
			height: 40px;
			width: 100%;
			font-size: 17px;
			padding: 0 20px;
			color: #555;
			-moz-box-sizing: border-box; 
		    -webkit-box-sizing: border-box; 
		    box-sizing: border-box;
		}

		.form-row {
			margin-bottom: 20px;
		}

		.submit {
			width: 100%;
	    	height: 40px;
	    	font-size: 23px;
	    	border-radius: 5px;
	    	border: none;
	    	-webkit-user-select: none;  
			-moz-user-select: none;    
			-ms-user-select: none;      
			user-select: none;

			&:focus {
				background: #ddd;
			}

			&:hover {
				background: #cecece;
			}
		}

		.progressBarContainer {
			.progress-bar {
				height: 1em;
			}

			.progress {
				margin: 5px 0;
			}
		}
	}

	#events-display {

		.accordion {

			.accordion-item {
			    margin-bottom: 10px;
			}
			
			.title {
				font-size: 18px;
			    margin: 0;
			    background: brown;
			    color: #fff;
			    padding: 10px;
			}

			.content {
				display: none;
				padding: 10px;
				background-color: burlywood;

				&.active {
					display: block;
				}

				.field-row {
					.label, .value {
						margin: 0;
						padding-bottom: 10px;
					}

					.label {
						font-size: 16px;
						font-weight: bold;
						width: 200px;
					}

					.value {
						font-size: 14px;
					}
				}
			}
		}
	}

	#user-creation, #event-creation {
		display: none;
	}
}

.hamburger {
    background: none;
    top: 0;
    line-height: 45px;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}
